In [1]:
import scipy
import pandas as pd
import numpy as np
import os
import torchvision.transforms as tt
import PIL
from tqdm import tqdm

In [2]:
imdb_mat_file = scipy.io.loadmat("C:/face_dataset/imdb_crop/imdb.mat")
imdb_data = imdb_mat_file['imdb'][0, 0]
print(imdb_data.dtype.names)

('dob', 'photo_taken', 'full_path', 'gender', 'name', 'face_location', 'face_score', 'second_face_score', 'celeb_names', 'celeb_id')

In [3]:
def create_df_from_mat(data, fields):

    df_dict = {}

    for field in fields:
        field_data = data[field].squeeze()
        
        if field_data.dtype.kind in {'O', 'U', 'S'}:
            processed = []
            for item in field_data:
                if isinstance(item, np.ndarray):
                    processed.append(str(item[0]) if item.size > 0 else "")
                else:
                    processed.append(str(item))
            field_data = np.array(processed)

        df_dict[field] = field_data

    df_from_mat = pd.DataFrame(df_dict)
    return df_from_mat

In [4]:
fields = ['full_path', 'name', 'face_score', 'second_face_score', 'celeb_id']
imdb_df = create_df_from_mat(imdb_data, fields)
imdb_df

,full_path,name,face_score,second_face_score,celeb_id
0,01/nm0000001_rm124825600_1899-5-10_1968.jpg,Fred Astaire,1.459693,1.118973,6488
1,01/nm0000001_rm3343756032_1899-5-10_1970.jpg,Fred Astaire,2.543198,1.852008,6488
2,01/nm0000001_rm577153792_1899-5-10_1968.jpg,Fred Astaire,3.455579,2.985660,6488
3,01/nm0000001_rm946909184_1899-5-10_1968.jpg,Fred Astaire,1.872117,NaN,6488
4,01/nm0000001_rm980463616_1899-5-10_1968.jpg,Fred Astaire,1.158766,NaN,6488
...,...,...,...,...,...
460718,08/nm3994408_rm761245696_1989-12-29_2011.jpg,Jane Levy,3.845884,NaN,8410
460719,08/nm3994408_rm784182528_1989-12-29_2011.jpg,Jane Levy,-inf,NaN,8410
460720,08/nm3994408_rm926592512_1989-12-29_2011.jpg,Jane Levy,-inf,NaN,8410
460721,08/nm3994408_rm943369728_1989-12-29_2011.jpg,Jane Levy,4.450725,NaN,8410
460722,08/nm3994408_rm976924160_1989-12-29_2011.jpg,Jane Levy,2.133503,NaN,8410

In [8]:
clean_imdb = imdb_df[imdb_df['face_score'] > 0].copy()
clean_imdb.fillna({'second_face_score': 0}, inplace=True)
clean_imdb = clean_imdb[clean_imdb['second_face_score'] == 0]
clean_imdb

,full_path,name,face_score,second_face_score,celeb_id
3,01/nm0000001_rm946909184_1899-5-10_1968.jpg,Fred Astaire,1.872117,0.0,6488
4,01/nm0000001_rm980463616_1899-5-10_1968.jpg,Fred Astaire,1.158766,0.0,6488
6,02/nm0000002_rm1346607872_1924-9-16_2004.jpg,Lauren Bacall,3.479189,0.0,11516
7,02/nm0000002_rm1363385088_1924-9-16_2004.jpg,Lauren Bacall,3.870171,0.0,11516
12,02/nm0000002_rm221957120_1924-9-16_1974.jpg,Lauren Bacall,4.096431,0.0,11516
...,...,...,...,...,...
460715,08/nm3994408_rm73386752_1989-12-29_2011.jpg,Jane Levy,4.801987,0.0,8410
460716,08/nm3994408_rm744468480_1989-12-29_2011.jpg,Jane Levy,2.370091,0.0,8410
460718,08/nm3994408_rm761245696_1989-12-29_2011.jpg,Jane Levy,3.845884,0.0,8410
460721,08/nm3994408_rm943369728_1989-12-29_2011.jpg,Jane Levy,4.450725,0.0,8410
460722,08/nm3994408_rm976924160_1989-12-29_2011.jpg,Jane Levy,2.133503,0.0,8410

In [17]:
number_of_each_celebrity  = clean_imdb['celeb_id'].value_counts()
non_unique_celebs = number_of_each_celebrity[number_of_each_celebrity >= 1].index
clean_imdb = clean_imdb[clean_imdb['celeb_id'].isin(non_unique_celebs)]
clean_imdb = clean_imdb.sort_values('celeb_id')
clean_imdb

,full_path,name,face_score,second_face_score,celeb_id
327194,48/nm0946148_rm922142208_1959-10-23_2014.jpg,'Weird Al' Yankovic,2.533124,0.0,2
327171,48/nm0946148_rm1093319424_1959-10-23_1989.jpg,'Weird Al' Yankovic,2.156494,0.0,2
327172,48/nm0946148_rm1110096640_1959-10-23_1989.jpg,'Weird Al' Yankovic,1.455022,0.0,2
327173,48/nm0946148_rm1126873856_1959-10-23_1989.jpg,'Weird Al' Yankovic,2.047720,0.0,2
327174,48/nm0946148_rm1179500032_1959-10-23_2011.jpg,'Weird Al' Yankovic,1.685582,0.0,2
...,...,...,...,...,...
302868,82/nm1049982_rm2017378560_1975-5-4_2014.jpg,Ã“scar Jaenada,4.254282,0.0,20284
302873,82/nm1049982_rm376096256_1975-5-4_2014.jpg,Ã“scar Jaenada,3.780473,0.0,20284
302879,82/nm1049982_rm476759552_1975-5-4_2014.jpg,Ã“scar Jaenada,4.129909,0.0,20284
302883,82/nm1049982_rm865242368_1975-5-4_2010.jpg,Ã“scar Jaenada,4.616226,0.0,20284
302864,82/nm1049982_rm1144963328_1975-5-4_2014.jpg,Ã“scar Jaenada,4.171251,0.0,20284

In [18]:
dict_for_celeb_df = {"name" : [], "id" : [], "number_of_images" : []}
for celeb_id in clean_imdb['celeb_id'].unique():
    celeb_name = clean_imdb.iloc[(clean_imdb['celeb_id'] == celeb_id).argmax()].loc['name']
    dict_for_celeb_df['name'].append(celeb_name)
    dict_for_celeb_df['id'].append(celeb_id)
    dict_for_celeb_df['number_of_images'].append(number_of_each_celebrity[celeb_id])
celeb_names_df = pd.DataFrame(dict_for_celeb_df)
celeb_names_df

                        name     id  number_of_images
0        'Weird Al' Yankovic      2                 9
1                   2 Chainz      3                 2
2                    50 Cent      4                62
3                 A Martinez      5                 1
4               A.J. Buckley      7                13
...                      ...    ...               ...
15490         Ã‰lodie Bouchez  20280                 8
15491        Ã‰milie Dequenne  20281                 7
15492          Ã‰ric Caravaca  20282                 4
15493  Ã“lafur Darri Ã“lafsson  20283                 1
15494          Ã“scar Jaenada  20284                 6

[15495 rows x 3 columns]

In [19]:
celeb_names_df.to_csv('data/large_celeb_names.csv', index=True)

In [20]:
celeb_names_list = celeb_names_df['name'].tolist()
celeb_names_list

["'Weird Al' Yankovic",
 '2 Chainz',
 '50 Cent',
 'A Martinez',
 'A.J. Buckley',
 'A.J. Cook',
 'A.J. Johnson',
 'A.J. Langer',
 'A.J. McLean',
 'A.R. Rahman',
 'AJ Bowen',
 'AJ Michalka',
 'Aaliyah',
 'Aamir Khan',
 'Aaron Abrams',
 'Aaron Ashmore',
 'Aaron Carter',
 'Aaron Christian Howles',
 'Aaron D. Spears',
 'Aaron Douglas',
 'Aaron Eckhart',
 'Aaron Farb',
 'Aaron Himelstein',
 'Aaron Jackson',
 'Aaron Jay Rome',
 'Aaron Katz',
 'Aaron Kwok',
 'Aaron Lohr',
 'Aaron Michael Metchik',
 'Aaron Paul',
 'Aaron Pedersen',
 'Aaron Ruell',
 'Aaron Russo',
 'Aaron Schwartz',
 'Aaron Seltzer',
 'Aaron Sorkin',
 'Aaron Spelling',
 'Aaron Stanford',
 'Aaron Taylor-Johnson',
 'Aaron Tveit',
 'Aaron Wolff',
 'Aaron Yoo',
 'Aasif Mandvi',
 'Abbas Kiarostami',
 'Abbey Lee',
 'Abbie Cornish',
 'Abby Brammell',
 'Abby Elliott',
 'Abdallah El Akal',
 'Abdellatif Kechiche',
 'Abderrahmane Sissako',
 'Abe Vigoda',
 'Abel Ferrara',
 'Abhay Deol',
 'Abhishek Bachchan',
 'Abi Morgan',
 'Abigail Breslin',
 'Abigail Hargrove',
 'Abigail Mavity',
 'Abigail Spencer',
 'Abigail Titmuss',
 'Abraham Benrubi',
 'Ace Young',
 'Adair Tishler',
 'Adam Ant',
 'Adam Arkin',
 'Adam Baldwin',
 'Adam Beach',
 'Adam Brody',
 'Adam Brooks',
 'Adam Brown',
 'Adam Busch',
 'Adam Campbell',
 'Adam Carolla',
 'Adam Cheng',
 'Adam Clayton',
 'Adam Copeland',
 'Adam Davidson',
 'Adam DeVine',
 'Adam Deacon',
 'Adam DiMarco',
 'Adam Driver',
 'Adam Duritz',
 'Adam Elliot',
 'Adam Ferrara',
 'Adam G. Sevani',
 'Adam Garcia',
 'Adam Godley',
 'Adam Goldberg',
 'Adam Green',
 'Adam Gregory',
 'Adam Greydon Reid',
 'Adam Hann-Byrd',
 'Adam Harrington',
 'Adam Hendershott',
 'Adam Herz',
 'Adam Hicks',
 'Adam Horovitz',
 'Adam Howard',
 'Adam Irigoyen',
 'Adam J. Yeend',
 'Adam LaVorgna',
 'Adam Lamberg',
 'Adam Lambert',
 'Adam Lazarre-White',
 'Adam LeFevre',
 'Adam Levine',
 'Adam McKay',
 "Adam O'Byrne",
 'Adam Pally',
 'Adam Pascal',
 'Adam Rapp',
 'Adam Rayner',
 'Adam Rich',
 'Adam Richman',
 'Adam Rifkin',
 'Adam Roarke',
 'Adam Rodriguez',
 'Adam Sandler',
 'Adam Savage',
 'Adam Scott',
 'Adam Sessler',
 'Adam Shankman',
 'Adam Trese',
 'Adam West',
 'Adam Wylie',
 'Adam Yauch',
 'Adam Zolotin',
 'Adan Canto',
 'Addie Land',
 'Addison Timlin',
 'Addy Miller',
 'Adelaide Clemens',
 'Adelaide Kane',
 'Aden Young',
 'Adewale Akinnuoye-Agbaje',
 'Adhir Kalyan',
 'Adi Schnall',
 'Aditya Roy Kapoor',
 'Adolfo Celi',
 'Adolfo Quinones',
 'Adolph Caesar',
 'Adrian Alonso',
 'Adrian Grenier',
 'Adrian Hall',
 'Adrian Holmes',
 'Adrian Lester',
 'Adrian Pasdar',
 'Adrian Paul',
 'Adrian Rayment',
 'Adrian Scarborough',
 'Adriana Asti',
 'Adriana Barraza',
 'Adriana De Moura',
 'Adriana Karembeu',
 'Adriana Lima',
 'Adriana Ozores',
 'Adriane Lenox',
 'Adrianna Costa',
 'Adrianne Curry',
 'Adrianne Palicki',
 'Adriano Giannini',
 'Adrien Brody',
 'Adrienne Bailon',
 'Adrienne Barbeau',
 'Adrienne Frantz',
 'Adrienne Janic',
 'Adrienne Maloof',
 'Adrienne McQueen',
 'Adrienne Shelly',
 'Adrienne Wilkinson',
 'AdriÃ  Collado',
 'AdÃ¨le Exarchopoulos',
 'AdÃ¨le Haenel',
 'Afemo Omilami',
 'Agata Buzek',
 'Agata Gotova',
 'Agata Kulesza',
 'Agata Trzebuchowska',
 'Agnes Bruckner',
 'Agnes Kittelsen',
 'Agnes Mayasari',
 'Agnes Moorehead',
 'Agnieszka Holland',
 'AgnÃ¨s Jaoui',
 'AgnÃ¨s Soral',
 'AgnÃ¨s Varda',
 'Agung Udijana',
 'AgustÃ­n DÃ­az Yanes',
 'Agyness Deyn',
 'Ah In Yoo',
 'Ah-sung Ko',
 'Ahmad Khan Mahmoodzada',
 'Ahmad Rashad',
 'Ahman Green',
 'Ahmed Best',
 'Ahmir-Khalib Thompson',
 "Ahna O'Reilly",
 'Aida Folch',
 'Aida Turturro',
 'Aidan Gillen',
 'Aidan Mitchell',
 'Aidan Quinn',
 'Aidan Turner',
 'Aiden Flowers',
 'Aiden Turner',
 'Aileen Quinn',
 'Aimee Brooks',
 'Aimee Carrero',
 'Aimee Eccles',
 'Aimee Garcia',
 'Aimee Graham',
 'Aimee Mann',
 'Aimee Mullins',
 'Aimee Teegarden',
 'Aisha Hinds',
 'Aisha Tyler',
 'Aishwarya Rai Bachchan',
 'Aisling Loftus',
 'Aisling Walsh',
 'Aislinn Paul',
 'Aitana SÃ¡nchez-GijÃ³n',
 'Ajay Devgn',
 'Ajay Naidu',
 'Akan Satayev',
 'Aki KaurismÃ¤ki',
 'Akie Kotabe',
 'Akin Gazi',
 'Akira Kurosawa',
 'Akiva Goldsman',
 'Akon',
 'Aksel Hennie',
 'Akshay Kumar',
 'Akshaye Khanna',
 'Al Corley',
 'Al Franken',
 'Al Freeman Jr.',
 'Al Gore',
 'Al Green',
 'Al Jean',
 'Al Leong',
 'Al Lettieri',
 'Al Lewis',
 'Al Pacino',
 'Al Roker',
 'Al Santos',
 'Al Sapienza',
 'Al Sharpton',
 'Al Shearer',
 'Al Snow',
 'Al Vicente',
 'Al Weaver',
 'Alain Blazevic',
 'Alain Cavalier',
 'Alain Chabat',
 'Alain Delon',
 'Alain Guiraudie',
 'Alain Resnais',
 'Alaina Huffman',
 'Alakina Mann',
 'Alan Ackles',
 'Alan Alda',
 'Alan Arkin',
 'Alan Autry',
 'Alan Ball',
 'Alan Bates',
 'Alan Blumenfeld',
 'Alan Cox',
 'Alan Cumming',
 'Alan Dale',
 'Alan Doyle',
 'Alan Feinstein',
 'Alan Ford',
 'Alan Fudge',
 'Alan Hale Jr.',
 'Alan J. Pakula',
 'Alan King',
 'Alan Menken',
 'Alan Parker',
 'Alan Rickman',
 'Alan Ritchson',
 'Alan Rosenberg',
 'Alan Ruck',
 'Alan Rudolph',
 'Alan Scarfe',
 'Alan Silvestri',
 'Alan Smyth',
 'Alan Taylor',
 'Alan Thicke',
 'Alan Tudyk',
 'Alan Van Sprang',
 'Alan Young',
 'Alana Curry',
 'Alana De La Garza',
 'Alana Mansour',
 'Alana Stewart',
 'Alana Thompson',
 'Alanis Morissette',
 'Alanna Masterson',
 'Alanna Ubach',
 'Alastair Duncan',
 'Alastair Fothergill',
 'Alastair Mackenzie',
 'Alba Rohrwacher',
 'Albert Brooks',
 'Albert Delpy',
 'Albert Dupontel',
 'Albert Finney',
 'Albert Hague',
 'Albert Hughes',
 'Albert Maysles',
 'Alberta Mayne',
 'Alberto Ammann',
 'Alberto Iglesias',
 'Alberto Sordi',
 'Alden Ehrenreich',
 'Aldis Hodge',
 'Aldo Ray',
 'Alec Baldwin',
 'Alec Guinness',
 'Alec Mapa',
 'Alec Newman',
 'Alec Sulkin',
 'Aleisha Allen',
 'Alejandro Agresti',
 'Alejandro AmenÃ¡bar',
 'Alejandro BruguÃ©s',
 'Alejandro GonzÃ¡lez IÃ±Ã¡rritu',
 'Alejandro Jodorowsky',
 'Alejandro Lozano',
 'Alejandro Monteverde',
 'Aleks Paunovic',
 'Aleksa Palladino',
 'Aleksandr Baluev',
 'Aleksandr Sokurov',
 'Aleksey Fedorchenko',
 'Aleksey Serebryakov',
 'Alessandra Ambrosio',
 'Alessandra Mastronardi',
 'Alessandra Torresani',
 'Alessandro Calza',
 'Alessandro De Marco',
 'Alessandro Gassman',
 'Alessandro Juliani',
 'Alessandro Nivola',
 'Alessandro Tiberi',
 'Alex Angarita',
 'Alex Borstein',
 'Alex Courtney',
 'Alex D. Linz',
 'Alex Diakun',
 'Alex Dimitriades',
 'Alex Donnelley',
 'Alex Etel',
 'Alex Fernandez',
 'Alex Ferns',
 'Alex Frost',
 'Alex Garland',
 'Alex Gibney',
 'Alex Harrouch',
 'Alex Heffes',
 'Alex Kaluzhsky',
 'Alex Kapp Horner',
 'Alex Karras',
 'Alex Kingston',
 'Alex Kurtzman',
 'Alex Lifeson',
 'Alex Macqueen',
 'Alex Manette',
 'Alex McCord',
 'Alex Meneses',
 'Alex Meraz',
 'Alex Nesic',
 'Alex Neuberger',
 "Alex O'Loughlin",
 'Alex Pettyfer',
 'Alex Proyas',
 'Alex Rocco',
 'Alex Trebek',
 'Alex Veadov',
 'Alex Vincent',
 'Alex Winter',
 'Alex Wolff',
 'Alex van Warmerdam',
 'Alexa Chung',
 'Alexa Davalos',
 'Alexa Havins',
 'Alexa Nikolas',
 'Alexa PenaVega',
 'Alexander Armstrong',
 'Alexander Beyer',
 'Alexander Cendese',
 'Alexander Dreymon',
 'Alexander Fehling',
 'Alexander Gould',
 'Alexander Karim',
 'Alexander Leeb',
 'Alexander Ludwig',
 'Alexander Martin',
 'Alexander Payne',
 'Alexander Polinsky',
 'Alexander Sano',
 'Alexander Siddig',
 'Alexander SkarsgÃ¥rd',
 'Alexander Witt',
 'Alexandra Bokyun Chun',
 'Alexandra Breckenridge',
 'Alexandra Byrne',
 'Alexandra Chando',
 'Alexandra Daddario',
 'Alexandra Holden',
 'Alexandra Kerry',
 'Alexandra Krosney',
 'Alexandra Kyle',
 'Alexandra Maria Lara',
 'Alexandra Paul',
 'Alexandra Powers',
 'Alexandra Rapaport',
 'Alexandra Roach',
 'Alexandra Silber',
 'Alexandra Stewart',
 'Alexandra Wentworth',
 'Alexandre Aja',
 'Alexandre Desplat',
 'Alexandre Rodrigues',
 'Alexi Wasser',
 'Alexia Fast',
 'Alexia Landeau',
 'Alexie Gilmore',
 'Alexis Arquette',
 'Alexis Bellino',
 'Alexis Bledel',
 'Alexis Cruz',
 'Alexis Denisof',
 'Alexis Dziena',
 'Alexis Knapp',
 'Alexis Llewellyn',
 'Alexis Mateo',
 'Alexis Raich',
 'Alexis Thorpe',
 'Alexis Zegerman',
 'Alexz Johnson',
 'Alfie Allen',
 'Alfonso CuarÃ³n',
 'Alfonso Ribeiro',
 'Alfre Woodard',
 'Alfred Barker Jr.',
 'Alfred Enoch',
 'Alfred Hitchcock',
 'Alfred Lutter III',
 'Alfred Molina',
 'Ali Adler',
 'Ali Cobrin',
 'Ali Fedotowsky',
 'Ali Hillis',
 'Ali Landry',
 'Ali Larter',
 'Ali Liebert',
 'Ali MacGraw',
 'Ali Mosaffa',
 'Alia Shawkat',
 'Alice Braga',
 'Alice Cooper',
 'Alice Dodd',
 'Alice Drummond',
 'Alice Evans',
 'Alice Eve',
 'Alice Greczyn',
 'Alice Jones',
 'Alice Krige',
 'Alice Lowe',
 'Alice Nunn',
 'Alice Orr-Ewing',
 'Alice Rohrwacher',
 'Alice Taglioni',
 'Alice Walker',
 'Alice Winocour',
 'Alice Wu',
 'Alicia Arden',
 'Alicia Banit',
 'Alicia Coppola',
 'Alicia Goranson',
 'Alicia Keys',
 'Alicia Lagano',
 'Alicia Silverstone',
 'Alicia Vikander',
 'Alicia Witt',
 'Alicia von Rittberg',
 'Alicja Bachleda',
 'Alimi Ballard',
 'Aline Brosh McKenna',
 'Alisa Reyes',
 'Alisen Down',
 'Alison Becker',
 'Alison Brie',
 'Alison Doody',
 'Alison Eastwood',
 'Alison Elliott',
 'Alison Fanelli',
 'Alison Haislip',
 'Alison Krauss',
 'Alison Lohman',
 'Alison Maclean',
 'Alison Owen',
 'Alison Pill',
 'Alison Steadman',
 'Alison Sudol',
 'Alison Sweeney',
 'Alison Wright',
 'Alisyn Camerota',
 'Alix Koromzay',
 'Allan Arbus',
 'Allan Corduner',
 'Allan Havey',
 'Allan Hawco',
 'Allan Hyde',
 'Allan Moyle',
 'Allan Rich',
 'Allen Covert',
 'Allen Hughes',
 'Allen Leech',
 'Allen Maldonado',
 'Allen Payne',
 'Alley Mills',
 'Alli Simpson',
 'Allie Bertram',
 'Allie DiMeco',
 'Allie Grant',
 'Allie MacDonald',
 'Allison Anders',
 'Allison Bertolino',
 'Allison Cratchley',
 'Allison Crowe',
 'Allison Hagendorf',
 'Allison Harvard',
 'Allison Janney',
 'Allison Mack',
 'Allison Miller',
 'Allison Munn',
 'Allison Scagliotti',
 'Allison Tolman',
 'Allison Williams',
 'Allisyn Ashley Arm',
 'Ally Sheedy',
 'Ally Walker',
 'Allyce Beasley',
 "Alma Har'el",
 'Alma McPeck',
 'Aloma Wright',
 'Alon Aboutboul',
 'Alona Tal',
 'Alper Kul',
 'Altan Erkekli',
 'Alton Brown',
 'Alwara HÃ¶fels',
 'Aly Michalka',
 'Alyce Faye Eichelberger',
 'Alysia Reiner',
 'Alyson Hannigan',
 'Alyson Reed',
 'Alyson Stoner',
 'Alyssa Diaz',
 'Alyssa Milano',
 'Alyssa Shafer',
 'Alyssa Sutherland',
 'Alysson Paradis',
 'Alyy Khan',
 'Amadou Ly',
 'Amal Clooney',
 'Amanda Abbington',
 'Amanda Bauer',
 'Amanda Brooks',
 'Amanda Brugel',
 'Amanda Bynes',
 'Amanda Crew',
 'Amanda De Cadenet',
 'Amanda Detmer',
 'Amanda Donohoe',
 'Amanda Foreman',
 'Amanda Fuller',
 'Amanda Hale',
 'Amanda Hearst',
 'Amanda Kimmel',
 'Amanda Langlet',
 'Amanda Lepore',
 'Amanda Loncar',
 'Amanda Mealing',
 'Amanda Palmer',
 'Amanda Peet',
 'Amanda Plummer',
 'Amanda Renberg',
 'Amanda Righetti',
 'Amanda Root',
 'Amanda Schull',
 'Amanda Setton',
 'Amanda Seyfried',
 'Amanda Steele',
 'Amanda Swisten',
 'Amanda Tapping',
 'Amanda Todd',
 'Amanda Walsh',
 'Amanda Wyss',
 'Amandla Stenberg',
 "Amar'e Stoudemire",
 'Amara Karan',
 'Amat Escalante',
 'Amaury Nolasco',
 'Amber Benson',
 'Amber Borycki',
 'Amber Heard',
 'Amber Lancaster',
 'Amber Mariano',
 'Amber Marshall',
 'Amber Riley',
 'Amber Rose',
 'Amber Rose Revah',
 'Amber Sainsbury',
 'Amber Smith',
 'Amber Stevens West',
 'Amber Tamblyn',
 'Amber Valletta',
 'Amelia Cooke',
 'Amelia Warner',
 'America Ferrera',
 'America Olivo',
 'Ameriie',
 'Ami James',
 'Amila Terzimehic',
 'Amin El Gamal',
 'Amir Arison',
 'Amir Naderi',
 'Amir Talai',
 'Amira Casar',
 'Aml Ameen',
 'Amos Gitai',
 'Amr Waked',
 'Amrapali Ambegaokar',
 'Amrish Puri',
 'Amy Acker',
 'Amy Adams',
 'Amy Allen',
 'Amy Aquino',
 'Amy Brassette',
 'Amy Brenneman',
 'Amy Bruckner',
 'Amy Carlson',
 'Amy Childs',
 'Amy Davidson',
 'Amy Farrington',
 'Amy Forsyth',
 'Amy Gumenick',
 'Amy Hargreaves',
 'Amy Harris',
 'Amy Heckerling',
 'Amy Hill',
 'Amy Huberman',
 'Amy Irving',
 'Amy Jo Johnson',
 'Amy K. Harmon',
 'Amy Landecker',
 'Amy Lee',
 'Amy Linker',
 'Amy Locane',
 'Amy Madigan',
 'Amy Manson',
 'Amy Nuttall',
 "Amy O'Neill",
 'Amy Oberer',
 'Amy Paffrath',
 'Amy Pietz',
 'Amy Poehler',
 'Amy Price-Francis',
 'Amy Redford',
 'Amy Robach',
 'Amy Ryan',
 'Amy Schumer',
 'Amy Sedaris',
 'Amy Sherman-Palladino',
 'Amy Smart',
 'Amy Spanger',
 'Amy Tan',
 'Amy Winehouse',
 'Amy Yasbeck',
 'Ana Alexander',
 'Ana Beatriz Barros',
 'Ana Claudia TalancÃ³n',
 'Ana Gasteyer',
 'Ana Golja',
 'Ana Ortiz',
 'Ana Torrent',
 'Ana de Armas',
 'Ana de la Reguera',
 'Analeigh Tipton',
 'Anamaria Marinca',
 'Anand Tucker',
 'Ananda Lewis',
 'Anastacia',
 'Anastasia Griffith',
 'Anatole Taubman',
 'AnaÃ¯s Demoustier',
 'Anders Danielsen Lie',
 'Anders Hove',
 'Anders Thomas Jensen',
 'Anderson Cooper',
 'Anderson Silva',
 'Andi Osho',
 'Andi Vasluianu',
 'Andie MacDowell',
 'Andra Fuller',
 'Andre Braugher',
 'Andre Gower',
 'Andre Royo',
 'Andre Schneider',
 'Andrea Allan',
 'Andrea Anders',
 'Andrea Bendewald',
 'Andrea Bogart',
 'Andrea Bosca',
 'Andrea Bowen',
 'Andrea Brooks',
 'Andrea Di Stefano',
 'Andrea Elson',
 'Andrea Evans',
 'Andrea Gabriel',
 'Andrea Lowe',
 'Andrea Lui',
 'Andrea Marcovicci',
 'Andrea Martin',
 'Andrea Morris',
 'Andrea Occhipinti',
 'Andrea OsvÃ¡rt',
 'Andrea Parker',
 'Andrea Powell',
 'Andrea Riseborough',
 'Andrea Roth',
 'Andrea Savage',
 'Andrea Stefancikova',
 'Andreas Dresen',
 'Andreas Katsulas',
 'Andreas Prochaska',
 'Andrei Claude',
 'Andrew Adamson',
 'Andrew Airlie',
 'Andrew Bergman',
 'Andrew Bryniarski',
 'Andrew Buchan',
 'Andrew Bujalski',
 'Andrew Caldwell',
 'Andrew Daly',
 'Andrew Dan-Jumbo',
 'Andrew Davis',
 'Andrew Dice Clay',
 'Andrew Divoff',
 'Andrew Dominik',
 'Andrew Firestone',
 'Andrew Fleming',
 'Andrew G. Vajna',
 'Andrew Garfield',
 'Andrew Gower',
 'Andrew GÃ¼nsberg',
 'Andrew Howard',
 'Andrew James Allen',
 'Andrew Jones',
 'Andrew Keegan',
 'Andrew Knott',
 'Andrew Lauer',
 'Andrew Lee Potts',
 'Andrew Leeds',
 'Andrew Lesnie',
 'Andrew Lincoln',
 'Andrew McCarthy',
 'Andrew Napier',
 'Andrew Niccol',
 'Andrew Paul',
 'Andrew Rannells',
 'Andrew Robinson',
 'Andrew Rooney',
 'Andrew Ross Sorkin',
 'Andrew Scott',
 'Andrew Shue',
 'Andrew Simpson',
 'Andrew St. John',
 'Andrew Stanton',
 'Andrew Stevens',
 'Andrew Tarbet',
 'Andrew W. Walker',
 'Andrew W.K.',
 'Andrew Wilson',
 'Andrey Konchalovskiy',
 'Andrey Zvyagintsev',
 'Andrzej Chyra',
 'AndrÃ© Benjamin',
 'AndrÃ© Dussollier',
 'AndrÃ© Previn',
 'AndrÃ© TÃ©chinÃ©',
 'AndrÃ©s Montiel',
 'AndrÃ©s Wood',
 'Andy Davoli',
 'Andy Dick',
 'Andy Garcia',
 'Andy Gillet',
 'Andy Griffith',
 'Andy Hallett',
 'Andy Hirsch',
 'Andy Lau',
 'Andy Milder',
 'Andy Milonakis',
 'Andy On',
 'Andy Richter',
 'Andy Roddick',
 'Andy Samberg',
 'Andy Scott Harris',
 'Andy Serkis',
 'Andy Summers',
 'Andy Tennant',
 'Andy Wachowski',
 'Andy Whitfield',
 'Ane Dahl Torp',
 'Anette StÃ¸velbÃ¦k',
 'Aneurin Barnard',
 'Ang Lee',
 'Angel Carter',
 'Angel Coulby',
 'Angela Bassett',
 'Angela Bettis',
 'Angela Davis',
 'Angela Featherstone',
 'Angela Gots',
 'Angela Kinsey',
 'Angela Lansbury',
 'Angela Lindvall',
 'Angela Robinson',
 'Angela Sarafyan',
 'Angela Shelton',
 'Angela Trimbur',
 'Angela Watson',
 'Angelababy',
 'Angelica Bridges',
 'Angeliki Papoulia',
 'Angelina Jolie',
 'Angelique Cabral',
 'Angell Conwell',
 'Angelo Spizzirri',
 'Angie Cepeda',
 'Angie Dickinson',
 'Angie Everhart',
 'Angie Harmon',
 'Angie Stone',
 'Angus Macfadyen',
 'Angus Scrimm',
 'Angus Sutherland',
 'Angus T. Jones',
 'AngÃ©lica MarÃ­a',
 'Anh Duong',
 'Ania Bukstein',
 'Ania Sowinski',
 'Anica Dobra',
 'Anika Noni Rose',
 'Anil Kapoor',
 'Anita Barone',
 'Anita Briem',
 'Anita Gillette',
 'Anita Hill',
 'Anita Morris',
 'Anjali Jay',
 'Anjanette Comer',
 'Anjelica Huston',
 'Anjorka Strechel',
 'Anmarie Soucie',
 'Ann B. Davis',
 'Ann Baker',
 'Ann Curry',
 'Ann Cusack',
 'Ann Dowd',
 'Ann Druyan',
 'Ann Dusenberry',
 'Ann Harada',
 'Ann Magnuson',
 'Ann Miller',
 'Ann Morgan Guilbert',
 'Ann Reinking',
 'Ann Ryerson',
 'Ann Sothern',
 'Ann Turkel',
 'Ann-Margret',
 'Anna Belknap',
 'Anna Camp',
 'Anna Carolina Alvim',
 'Anna Chancellor',
 'Anna Chlumsky',
 'Anna Deavere Smith',
 'Anna Falchi',
 'Anna Faris',
 'Anna Friel',
 'Anna Galvin',
 'Anna GeislerovÃ¡',
 'Anna Gunn',
 'Anna Hopkins',
 'Anna Hutchison',
 'Anna Karina',
 'Anna Kendrick',
 'Anna Kournikova',
 'Anna Margaret',
 'Anna Maria Horsford',
 'Anna Maria Perez de Tagle',
 'Anna Massey',
 'Anna Maxwell Martin',
 'Anna Mouglalis',
 'Anna Muylaert',
 'Anna Netrebko',
 'Anna Nicole Smith',
 'Anna Osceola',
 'Anna Paquin',
 'Anna Popplewell',
 'Anna Silk',
 'Anna Skellern',
 'Anna Sophia Berglund',
 'Anna Torv',
 'Anna Trebunskaya',
 'Anna Walton',
 'Anna Wilding',
 'Anna Wintour',
 'AnnaLynne McCord',
 'AnnaSophia Robb',
 'Annabel Scholey',
 'Annabella Sciorra',
 'Annabelle Wallis',
 'Annabeth Gish',
 'Annaleigh Ashford',
 'Anne Archer',
 'Anne Bancroft',
 'Anne Bergstedt',
 'Anne Brochet',
 'Anne Coesens',
 'Anne Consigny',
 'Anne Curtis',
 'Anne De Salvo',
 'Anne Dorval',
 'Anne Dudek',
 'Anne Fletcher',
 'Anne Fontaine',
 'Anne Hathaway',
 'Anne Heche',
 'Anne Helm',
 'Anne Jackson',
 'Anne Jeffreys',
 'Anne Lambton',
 'Anne Marie DeLuise',
 'Anne Marivin',
 'Anne Parillaud',
 'Anne Ramsay',
 'Anne Ramsey',
 'Anne Reid',
 'Anne Schedeen',
 'Anne Stedman',
 'Anne Vernon',
 'Anne Vyalitsyna',
 'Anne Wiazemsky',
 'Anne Winters',
 'Anne-Marie Johnson',
 'Anneliese van der Pol',
 'Annet Malherbe',
 'Annett Culp',
 'Annette Andre',
 'Annette Bening',
 'Annette Funicello',
 "Annette O'Toole",
 'Anni-Kristiina Juuso',
 'Annie Costner',
 'Annie Duke',
 'Annie Girardot',
 'Annie Golden',
 'Annie Ilonzeh',
 'Annie Lennox',
 'Annie Mumolo',
 'Annie Parisse',
 'Annie Potts',
 'Annie Proulx',
 'Annie Ross',
 'Annie Wersching',
 'Annika Peterson',
 'Anouk AimÃ©e',
 'Anoushka',
 'Ansel Elgort',
 'Anson Mount',
 'Ant',
 "Anthony 'Treach' Criss",
 'Anthony Anderson',
 'Anthony Azizi',
 'Anthony Bourdain',
 'Anthony Calf',
 'Anthony Caruso',
 'Anthony Chau-Sang Wong',
 'Anthony Daniels',
 'Anthony Dawson',
 'Anthony Delon',
 'Anthony Edwards',
 'Anthony Esquivel',
 'Anthony Flanagan',
 'Anthony Franciosa',
 ...]

In [21]:
with open ('../imdb_dataset/large_celeb_names.txt', 'w', encoding="utf-8") as file:
    file.writelines(f"{item}\n" for item in celeb_names_list)

In [25]:
def transform_image(input_image, new_image_size):
    transform =tt.Compose([
    tt.Resize(new_image_size),
    tt.CenterCrop(new_image_size)])
    return transform(input_image)

def save_image(file_path_end, sourse_dir, person_dir, image_index=1, new_image_size=256):
    full_file_path = sourse_dir + file_path_end
    image = PIL.Image.open(full_file_path).convert("RGB")
    resized_image = transform_image(image, new_image_size)
    resized_image.save(f"{person_dir}/{image_index}.jpg")


def make_person_directories(describe_df, sourse_dir, train_dir, test_dir):
    for new_celeb_id, celeb_id in tqdm(enumerate(describe_df['celeb_id'].unique())):
        person_dir_train = os.path.join(train_dir, str(new_celeb_id))
        os.makedirs(person_dir_train, exist_ok=True)
        person_dir_test = os.path.join(test_dir, str(new_celeb_id))
        os.makedirs(person_dir_test, exist_ok=True)

        person_data = describe_df[describe_df['celeb_id'] == celeb_id].sort_values(by='face_score', ascending=False)
        test_file_path = person_data['full_path'].iloc[0]
        save_image(test_file_path, sourse_dir, person_dir_test)

        for index in range(person_data.shape[0]):
            file_path_end = person_data['full_path'].iloc[index]
            save_image(file_path_end, sourse_dir, person_dir_train, index, new_image_size=256)

            if index == 100:
                break

In [26]:
sourse_directory = "C:/face_dataset/imdb_crop/"
train_directory = "C:/face_dataset/imdb_train_large/"
test_directory = "C:/face_dataset/imdb_test_large/"

make_person_directories(clean_imdb, sourse_directory, train_dir=train_directory, test_dir=test_directory)

15495it [19:21, 13.34it/s]